<html>
  <head>
    <title>Easel survey answers</title>
    <link rel="icon" href="Images/LogoImage.png">
    <style type="text/css">
      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 0px;
        text-align: left;
        font-weight: normal;
        font-family: Aaargh;
        font-size: 6vh;
        top: 0px;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: white !important;
      }

      .linkBox{
        left:40vw;
        width:20vw;
        position:absolute;
        top:35vh;
        height:6vh;
        padding-top: 2vh;
        padding-left: 1vw;
        border-color:black;
        border-width:1px;
        border-style:solid;
        font-family: Aaargh;
        font-size: 4vh;
        font-weight: 500;
        cursor:pointer;
        transition:1s;
        background-color: #fcfcfc;
        box-shadow: 0px 0px 0px black;
      }

      .linkBox:hover{
        box-shadow: 0px 10px 5px black;
        top: 34vh;
        background-color:#E5E5E5;
      }

      .header{
        top:0px;
        height:8vh;
        left:0px;
        width:100vw;
        background-color: #3B3B3B;
        position:absolute;
      }

      body{
        margin: 0 !important;
        padding: 0 !important;
        background-image: linear-gradient(25deg, #3B3B3B, #535353);
      }

      .Logo{
        left:1vw;
        top:0.5vh;
        height:7vh;
        width:7vh;
        position:absolute;
        z-index:3;
        transition:0.3s;
        cursor:pointer;
      }

      .Logo:hover{
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }

      .headerLink{
        right:1vw;
        top:3vh;
        width:5vw;
        font-size:1vw;
        font-family: Aaargh;
        font-weight: 500;
        transition:0.3s;
        cursor:pointer;
        height:0.5vh;
        position:absolute;
        z-index:3;
        margin-top:0;
        color:white;
      }

      .headerLink:Hover{
        color:#E6E6E6;
      }

      table#answerTable th {
        color:black;
        background-color:#BABABA;
        font-size: large;
      }

      table#answerTable tr:nth-child(even){
        background-color: #eee;
      }

      table#answerTable tr:nth-child(odd){
        background-color: #fff;
      }

    </style>
    <script src="java/he.js"></script>
    <script type="text/javascript">
      function GetURLParameter(sParam){
  				var sPageURL = window.location.search.substring(1);
  				var sURLVariables = sPageURL.split('&');
  				for (var i = 0; i < sURLVariables.length; i++){
  						var sParameterName = sURLVariables[i].split('=');
  						if (sParameterName[0] == sParam){
  								return sParameterName[1];
  						}
  				}
  		}

      function getAnswers(){
        var answerUrls = eval("[" + eval('he.decode("<%= msg %>")') + "]");
        answerUrls.forEach(element => {
          fetch("Answers/" + GetURLParameter("id") + "/" + element).then(
            function(response){
              return response.text();
            })
            .then(function(text){
              var answerArray = text.match(/[^\r\n]+/g);
              var table = document.getElementById("answerTable");
              var row = table.insertRow(-1);
              if(answerArray[0]){
                var cell1 = row.insertCell(0);
                cell1.innerHTML = answerArray[0];
              }
              if(answerArray[1]){
                var cell2 = row.insertCell(1);
                cell2.innerHTML = answerArray[1];
              }
              if(answerArray[2]){
                var cell3 = row.insertCell(2);
                cell3.innerHTML = answerArray[2];
              }
              if(answerArray[3]){
                var cell3 = row.insertCell(3);
                cell3.innerHTML = answerArray[3];
              }
              if(answerArray[4]){
                var cell4 = row.insertCell(4);
                cell4.innerHTML = answerArray[4];
              }
            })
            .catch(function(error){
              console.log("Request Failed.", error);
            });
        });
      }

      function addHeaders(){
        var table = document.getElementById("answerTable");
        var headingRow = table.insertRow(0);
        var cellH1 = headingRow.insertCell(-1);
        var cellH2 = headingRow.insertCell(-1);
        var cellH3 = headingRow.insertCell(-1);
        var cellH4 = headingRow.insertCell(-1);
        var cellH5 = headingRow.insertCell(-1);
        cellH1.innerHTML = GetURLParameter("q1").replace("%20", " ");
        cellH2.innerHTML = GetURLParameter("q2").replace("%20", " ");
        cellH3.innerHTML = GetURLParameter("q3").replace("%20", " ");
        cellH4.innerHTML = GetURLParameter("q4").replace("%20", " ");
        cellH5.innerHTML = GetURLParameter("q5").replace("%20", " ");
      }

      setTimeout(() => {addHeaders();}, 100);
      setTimeout(() => {getAnswers();}, 100);
    </script>
  </head>
  <body>
    <div class="header">
      <image src="Images/LogoImage.png" class="Logo" onclick="window.location.href='/home'"></image>
      <p class="headerLink" onclick="window.location.href='/create'">Create</p>
    </div>
    <h1 class="titleText" style="left:10vw;top:10vh;">Answers for your survey</h1>
    <table id="answerTable" style="position:absolute;font-family:Aaargh;left:10vw;top:25vh;width:65vw;">
    </table>
  </body>
</html>
