<!DOCTYPE html>
<html>
  <head>
    <title>Easel survey created</title>
    <style type="text/css">
      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 10vw;
        text-align: left;
        font-weight: normal;
        font-family: Aaargh;
        font-size: 6vh;
        top: 10vh;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .linkBox{
        left:10vw;
        width:80vw;
        position:absolute;
        top:30vh;
        height:6vh;
        padding-top: 2vh;
        border-color:black;
        border-width:1px;
        border-style:solid;
      }

      .link{
        font-family:Aaargh;
        font-size:4vh;
        font-color:black;
        font-weight:500;
        margin-top:0px;
        padding-top:0vh;
        padding-left:1vw;
        white-space: nowrap;
        overflow:auto;
        width:79vw;
        display:block;
      }
    </style>
    <script type="text/javascript">
      function GetURLParameter(sParam){
  				var sPageURL = window.location.search.substring(1);
  				var sURLVariables = sPageURL.split('&');
  				for (var i = 0; i < sURLVariables.length; i++){
  						var sParameterName = sURLVariables[i].split('=');
  						if (sParameterName[0] == sParam){
  								return sParameterName[1];
  						}
  				}
  		}

      function loadLink(){
        var id = GetURLParameter("id");
        document.getElementById("link").innerHTML = "https://easel123.herokuapp.com/?survey=" + id;
        document.getElementById("link").setAttribute("href", "https://easel123.herokuapp.com/?survey=" + id);
        document.getElementById('linkAnswers').innerHTML = "https://easel123.herokuapp.com/answers?id=" + id + "&q1=" + GetURLParameter("q1") + "&q2=" + GetURLParameter("q2") + "&q3=" + GetURLParameter("q3") + "&q4=" + GetURLParameter("q4") + "&q5=" + GetURLParameter("q5");
        document.getElementById('linkAnswers').setAttribute("href", "https://easel123.herokuapp.com/answers?id=" + id + "&q1=" + GetURLParameter("q1") + "&q2=" + GetURLParameter("q2") + "&q3=" + GetURLParameter("q3") + "&q4=" + GetURLParameter("q4") + "&q5=" + GetURLParameter("q5"));
      }

      setTimeout(() => {loadLink();}, 200);
    </script>
  </head>
  <body>
    <h1 class="titleText">Thanks for creating a survey! Share it with this link:</h1>
    <div class="linkBox">
      <a class="link" id="link">
      </a>
    </div>
    <h1 class="titleText" style="top:40vh;font-size:4vh;">You can see the answers here:</h1>
    <div class="linkBox" style="top:50vh;height:7vh;">
      <a class="link" id="linkAnswers">
      </a>
    </div>
  </body>
</html>
