<!DOCTYPE html>
<html>
  <head>
    <title>Easel create survey</title>
    <link rel="icon" href="Images/LogoImage.png">
    <style type = "text/css">

      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 0px;
        text-align: left;
        font-weight: normal;
        font-family: Aaargh;
        font-size: 6vh;
        top: 0px;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .listBox{
        position:absolute;
        left:15vw;
        width:70vw;
        height:15vh;
        border-radius: 0px;
        border-style: groove;
        border-width: 0px;
        border-color: #f2f2f2;
        background-color: #fcfcfc;
        top: 25vh;
      }

      .textInput{
  			position:absolute;
  			text-align: left;
  			left:5%;
  			top:15%;
  			width:80%;
  			font-family: Aaargh;
  			font-size: 4vh;
  			background-color: rgba(0,0,0,0);
  			border:0px;
  			outline:none;
  		}

      .textInputDeco{
  			position:absolute;
  			left:5%;
  			top:80%;
  			height:54%;
  			width:80%;
  			border-top:2px dotted #661fe0;
  		}

      .header{
        top:0px;
        height:8vh;
        left:0px;
        width:100vw;
        background-color: #3B3B3B;
        position:absolute;
      }

      body{
        margin: 0 !important;
        padding: 0 !important;
        background-image: linear-gradient(25deg, #3B3B3B, #535353);
        width:100vw;
        height:100vh;
      }

      .Logo{
        left:1vw;
        top:0.5vh;
        height:7vh;
        width:7vh;
        position:absolute;
        z-index:3;
        transition:0.3s;
        cursor:pointer;
      }

      .Logo:hover{
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }

      .headerLink{
        right:1vw;
        top:3vh;
        width:5vw;
        font-size:1vw;
        font-family: Aaargh;
        font-weight: 500;
        transition:0.3s;
        cursor:pointer;
        height:0.5vh;
        position:absolute;
        z-index:3;
        margin-top:0;
        color:white;
      }

      .headerLink:Hover{
        color:#E6E6E6;
      }
    </style>
    <script type="text/javascript">
      var currentAmountQuestions = 0;

      function updateList(){
        if(currentAmountQuestions < 5){
          currentAmountQuestions += 1;
          document.getElementById("listBox").style="height:" + ((currentAmountQuestions * 9) + 10) + "vh";
          document.getElementById("addQuestion").style="left:40%;width:15%;height:7vh;padding-top:0%;top:" + (((currentAmountQuestions+1)*9)-7) + "vh;";
          document.getElementById("questionBox" + currentAmountQuestions).removeAttribute("hidden");
          document.getElementById('question' + currentAmountQuestions + 'Input').focus();
        }
      }

      function createSurvey(){
        var randNumStr = Math.random().toString(36).replace(/[^a-z]+/g, '').substr(0, 5);
        window.location.href = "createSurvey?id=" + randNumStr + "&q1=" + document.getElementById("question1Input").value + "&q2=" + document.getElementById("question2Input").value + "&q3=" + document.getElementById("question3Input").value + "&q4=" + document.getElementById("question4Input").value + "&q5=" + document.getElementById("question5Input").value;
      }

      setTimeout(() => {updateList();}, 200);
    </script>
  </head>
  <body>
    <div class="header">
      <image src="Images/LogoImage.png" class="Logo" onclick="window.location.href='/home'"></image>
      <p class="headerLink" onclick="window.location.href='/create'">Create</p>
    </div>
    <button class="listBox" id="createButton" style="left:15vw;top:13vh;height:10vh;width:30vw;" onclick="createSurvey();">
      <h1 class="titleText" id="title1" style="left:20px;font-size:5vh;top:-2vh;">Create survey</h1>
    </button>
    <div class="listBox" id="listBox" style="height:55vh">
      <div class="listBox" id="questionBox1" style="left:2%;width:96%;height: 7vh;top: 2vh;" hidden>
        <p class="textInput" style="left:1%;top:-95%;font-size:6vh;">1</p>
        <div class="textInputDeco"></div>
        <form onsubmit="updateList();return false;">
          <input type="text" class="textInput" id="question1Input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </form>
      </div>
      <div class="listBox" id="questionBox2" style="left:2%;width:96%;height:7vh;top:11vh;" hidden>
        <p class="textInput" style="left:1%;top:-95%;font-size:6vh;">2</p>
        <div class="textInputDeco"></div>
        <form onsubmit="updateList();return false;">
          <input type="text" class="textInput" id="question2Input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </form>
      </div>
      <div class="listBox" id="questionBox3" style="left:2%;width:96%;height:7vh;top:20vh;" hidden>
        <p class="textInput" style="left:1%;top:-95%;font-size:6vh;">3</p>
        <div class="textInputDeco"></div>
        <form onsubmit="updateList();return false;">
          <input type="text" class="textInput" id="question3Input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </form>
      </div>
      <div class="listBox" id="questionBox4" style="left:2%;width:96%;height:7vh;top:29vh;" hidden>
        <p class="textInput" style="left:1%;top:-95%;font-size:6vh;">4</p>
        <div class="textInputDeco"></div>
        <form onsubmit="updateList();return false;">
          <input type="text" class="textInput" id="question4Input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </form>
      </div>
      <div class="listBox" id="questionBox5" style="left:2%;width:96%;height:7vh;top:38vh;" hidden>
        <p class="textInput" style="left:1%;top:-95%;font-size:6vh;">5</p>
        <div class="textInputDeco"></div>
        <form onsubmit="createSurvey();return false;">
          <input type="text" class="textInput" id="question5Input" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
        </form>
      </div>
      <button class="listBox" id="addQuestion" style="left:40%;width:15%;height:7vh;padding-top:3%;" onclick="updateList();">
        <p class="textInput" style="text-align:center;width:100%;left:0px;top:-200%;height:100%;font-size:9vh;font-weight:500;">+</p>
      </button>
    </div>
  </body>
</html>
