<!DOCTYPE html>
<html>
  <head>
    <style type = "text/css">

      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 15vw;
        text-align: left;
        font-family: Aaargh;
        font-size: 6vh;
        top: 30vh;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .listBox{
        position:absolute;
        left:15vw;
        width:70vw;
        height:10vh;
        border-style: groove;
        border-width: 5px;
        border-color: #c9c9c9;
        background-color: #e8e8e8;
        top: 40vh;
      }

    </style>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <h1 class="titleText" id="title1">Create survey</h1>
    <div class="listBox" id="listBox"></div>
  </body>
</html>
