<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 0px;
        text-align: left;
        font-weight: normal;
        font-family: Aaargh;
        font-size: 6vh;
        top: 0px;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
    </style>
  </head>
  <body>
    <h1 class="titleText">Creating Survey</h1>
  </body>
</html>
