<!DOCTYPE html>
<html>
  <head>
    <title>Creating survey</title>
    <link rel="icon" href="Images/LogoImage.png">
    <style type="text/css">
      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 0px;
        text-align: left;
        font-weight: normal;
        font-family: Aaargh;
        font-size: 6vh;
        top: 0px;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      .header{
        top:0px;
        height:8vh;
        left:0px;
        width:100vw;
        background-color: #3B3B3B;
        position:absolute;
      }

      body{
        margin: 0 !important;
        padding: 0 !important;
      }

      .Logo{
        left:1vw;
        top:0.5vh;
        height:7vh;
        width:7vh;
        position:absolute;
        z-index:3;
        transition:0.3s;
        cursor:pointer;
      }

      .Logo:hover{
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }

      .headerLink{
        right:1vw;
        top:3vh;
        width:5vw;
        font-size:1vw;
        font-family: Aaargh;
        font-weight: 500;
        transition:0.3s;
        cursor:pointer;
        height:0.5vh;
        position:absolute;
        z-index:3;
        margin-top:0;
        color:white;
      }

      .headerLink:Hover{
        color:#E6E6E6;
      }
    </style>
    <script type="text/javascript">
      function GetURLParameter(sParam){
  				var sPageURL = window.location.search.substring(1);
  				var sURLVariables = sPageURL.split('&');
  				for (var i = 0; i < sURLVariables.length; i++){
  						var sParameterName = sURLVariables[i].split('=');
  						if (sParameterName[0] == sParam){
  								return sParameterName[1];
  						}
  				}
  		}

      setTimeout(() => {window.location.href = "/created?id=" + GetURLParameter('id') + "&q1=" + GetURLParameter('q1') + "&q2=" + GetURLParameter('q2') + "&q3=" + GetURLParameter('q3') + "&q4=" + GetURLParameter('q4') + "&q5=" + GetURLParameter('q5');}, 200);
    </script>
  </head>
  <body>
    <div class="header">
      <image src="Images/LogoImage.png" class="Logo" onclick="window.location.href='/home'"></image>
      <p class="headerLink" onclick="window.location.href='/create'">Create</p>
    </div>
    <h1 class="titleText" style="left:50px;">Creating Survey</h1>
  </body>
</html>
