<!DOCTYPE html>
<html>
  <head>
    <title>Easel survey created</title>
    <link rel="icon" href="Images/LogoImage.png">
    <style type="text/css">
      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 10vw;
        text-align: left;
        font-weight: normal;
        font-family: Aaargh;
        font-size: 6vh;
        top: 10vh;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        color: white !important;
      }

      .linkBox{
        left:10vw;
        width:80vw;
        position:absolute;
        top:30vh;
        height:6vh;
        padding-top: 2vh;
        border-color:black;
        border-width:1px;
        border-style:solid;
      }

      .link{
        font-family:Aaargh;
        font-size:4vh;
        font-color:black;
        font-weight:500;
        margin-top:0px;
        padding-top:0vh;
        padding-left:1vw;
        white-space: nowrap;
        overflow:auto;
        width:79vw;
        display:block;
      }

      .emailInput{
        font-family:Aaargh;
        font-size:4vh;
        font-weight:500;
        margin-top:0px;
        padding-top:0vh;
        padding-left:1vw;
        white-space: no-wrap;
        overflow: auto;
        width: 58.7vw;
        height: 91%;
        color:white;
        display:block;
        background:rgba(0,0,0,0);
        border-color:rgba(0,0,0,0);
      }

      .confirmButton{
        color: white;
        background-color: #3297E7;
        height: 7vh;
        width: 19vw;
        left: 71vw;
        top: 70vh;
        cursor: pointer;
        position: absolute;
        transition: 0.2s;
      }

      .confirmButton:Hover{
        background-color:#73B9F0;
      }

      .confirmButtonText{
        color:White;
      }

      .confirmButtonText{
        margin-top:0.5vh;
        margin-left:3vw;
        color:White;
        font-family:Aaargh;
        font-size: 2.3vw;
        top:0px;
        padding-top:0px;
      }

      .badEmail{
        color:Red;
        left:10vw;
        font-family:Aaargh;
        font-size:2vw;
        top:75vh;
        position:absolute;
      }

      .header{
        top:0px;
        height:8vh;
        left:0px;
        width:100vw;
        background-color: #3B3B3B;
        position:absolute;
      }

      body{
        margin: 0 !important;
        padding: 0 !important;
        width:100vw;
        height:100vh;
        background-image: linear-gradient(25deg, #3B3B3B, #535353);
      }

      .Logo{
        left:1vw;
        top:0.5vh;
        height:7vh;
        width:7vh;
        position:absolute;
        z-index:3;
        transition:0.3s;
        cursor:pointer;
      }

      .Logo:hover{
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }

      .headerLink{
        right:1vw;
        top:3vh;
        width:5vw;
        font-size:1vw;
        font-family: Aaargh;
        font-weight: 500;
        transition:0.3s;
        cursor:pointer;
        height:0.5vh;
        position:absolute;
        z-index:3;
        margin-top:0;
        color:white;
      }

      .headerLink:Hover{
        color:#E6E6E6;
      }
    </style>
    <script type="text/javascript">
      function GetURLParameter(sParam){
  				var sPageURL = window.location.search.substring(1);
  				var sURLVariables = sPageURL.split('&');
  				for (var i = 0; i < sURLVariables.length; i++){
  						var sParameterName = sURLVariables[i].split('=');
  						if (sParameterName[0] == sParam){
  								return sParameterName[1];
  						}
  				}
  		}

      function loadLink(){
        var id = GetURLParameter("id");
        document.getElementById("link").innerHTML = "https://easel123.herokuapp.com/?survey=" + id;
        document.getElementById("link").setAttribute("href", "https://easel123.herokuapp.com/?survey=" + id);
        document.getElementById('linkAnswers').innerHTML = "https://easel123.herokuapp.com/answers?id=" + id;
        document.getElementById('linkAnswers').setAttribute("href", "https://easel123.herokuapp.com/answers?id=" + id);
      }

      function confirmEmail(){
        if(document.getElementById("emailInput").value != ""){
          if(document.getElementById("emailInput").value.contains('@')){
            window.location.href = "/createEmail?id=" + GetURLParameter("id") +"&email=" + document.getElementById("emailInput").value;
          } else {
            document.getElementById("badEmail").removeAttribute("hidden");
          }
        } else {
          document.getElementById("badEmail").removeAttribute("hidden");
        }
      }

      setTimeout(() => {loadLink();}, 200);
    </script>
  </head>
  <body>
    <div class="header">
      <image src="Images/LogoImage.png" class="Logo" onclick="window.location.href='/home'"></image>
      <p class="headerLink" onclick="window.location.href='/create'">Create</p>
    </div>
    <h1 class="titleText">Thanks for creating a survey! Share it with this link:</h1>
    <div class="linkBox">
      <a class="link" id="link">
      </a>
    </div>
    <h1 class="titleText" style="top:40vh;font-size:4vh;">You can see the answers here (keep this in a safe place):</h1>
    <div class="linkBox" style="top:50vh;height:7vh;">
      <a class="link" id="linkAnswers">
      </a>
    </div>
    <h1 class="titleText" style="top:60vh;font-size:4vh;">Or, confirm your email here and we'll email you when somebody answers</h1>
    <div class="linkBox" style="top:70vh;height:7vh;padding-top:0px;width:60vw;">
      <input class="emailInput" id="emailInput" style="border-top-width:2px;">
      </input>
    </div>
    <div class="confirmButton" onclick="confirmEmail();">
      <p class="confirmButtonText"><b>&#10004; Confirm</b></p>
    </div>
    <p class="badEmail" id="badEmail" hidden> Please enter a valid email </p>
  </body>
</html>
