<html>
  <head>
    <title>Easel Surveys</title>
    <style type="text/css">
      @font-face{
        font-family: Aaargh;
        src: url("Fonts/Aaargh.ttf");
      }

      .titleText{
        position:absolute;
        left: 0px;
        text-align: left;
        font-weight: normal;
        font-family: Aaargh;
        font-size: 6vh;
        top: 0px;
        -webkit-touch-callout: none;
      	-webkit-user-select: none;
       	-khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        transition: 3s;
      }

      .linkBox{
        left:40vw;
        width:20vw;
        position:absolute;
        top:35vh;
        height:6vh;
        padding-top: 2vh;
        padding-left: 1vw;
        border-color:black;
        border-width:1px;
        border-style:solid;
        font-family: Aaargh;
        font-size: 4vh;
        font-weight: 500;
        cursor:pointer;
        transition:1s;
        background-color: #fcfcfc;
        box-shadow: 0px 0px 0px black;
      }

      .linkBox:hover{
        box-shadow: 0px 10px 5px black;
        top: 34vh;
        background-color:#E5E5E5;
      }

      .header{
        top:0px;
        height:8vh;
        left:0px;
        width:100vw;
        background-color: #3B3B3B;
        position:absolute;
      }

      body{
        margin: 0 !important;
        padding: 0 !important;
      }

      .Logo{
        left:1vw;
        top:0.5vh;
        height:7vh;
        width:7vh;
        position:absolute;
        z-index:3;
        transition:0.3s;
        cursor:pointer;
      }

      .Logo:hover{
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
        -o-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
        transform: rotate(10deg);
      }

      .headerLink{
        right:1vw;
        top:3vh;
        width:5vw;
        font-size:1vw;
        font-family: Aaargh;
        font-weight: 500;
        transition:0.3s;
        cursor:pointer;
        height:0.5vh;
        position:absolute;
        z-index:3;
        margin-top:0;
        color:white;
      }

      .headerLink:Hover{
        color:#E6E6E6;
      }

    </style>
    <script type="text/javascript">
      function GetURLParameter(sParam){
  				var sPageURL = window.location.search.substring(1);
  				var sURLVariables = sPageURL.split('&');
  				for (var i = 0; i < sURLVariables.length; i++){
  						var sParameterName = sURLVariables[i].split('=');
  						if (sParameterName[0] == sParam){
  								return sParameterName[1];
  						}
  				}
  		}

      function fadeIn(){
        document.getElementById("title").style = "top:10vh;color:black;left:4vw;";
      }

      setTimeout(() => {fadeIn();}, 100);
    </script>
  </head>
  <body>
    <div class="header">
      <image src="Images/LogoImage.png" class="Logo" onclick="window.location.href='/home'"></image>
      <p class="headerLink" onclick="window.location.href='/create'">Create</p>
    </div>
    <h1 class="titleText" id="title" style="left:4vw;top:20vh;color:rgba(0,0,0,0);">Professional and free surveys for everyone, no login required.</h1>
    <div class="linkBox" id="button" onclick="window.location.href='/create'">
      <p style="margin-top:0px;left:5vw;"> Start creating now! </p>
    </div>
  </body>
</html>
