<!DOCTYPE html>

<html>
<head>

	<style type="text/css">

		@font-face{
			font-family: Aaargh;
			src: url("Fonts/Aaargh.ttf");
		}

		.centerBox{
			position:absolute;
			top:30vh;
			left:15vw;
			height:10vh;
			width:60vw;
			transition: 1s;
		}

		.centerBoxNoAnim{
			position:absolute;
			top:30vh;
			left:15vw;
			height:10vh;
			width:60vw;
			transition: 0s;
		}

		.centerText{
			position:absolute;
			left:1vw;
			text-align: left;
			font-family: Aaargh;
			font-size: 6vh;
			transition: 1s;
			-webkit-touch-callout: none;
    		-webkit-user-select: none;
     		-khtml-user-select: none;
       		-moz-user-select: none;
        	-ms-user-select: none;
            user-select: none;
		}

		.textInputPlaceholder{
			position:absolute;
			text-align: left;
			left:2vw;
			top:13.5vh;
			font-family: Aaargh;
			color: #a8a8a8;
			font-size: 4vh;
			transition: 1s;
			z-index: 2;
			-webkit-touch-callout: none;
    		-webkit-user-select: none;
     		-khtml-user-select: none;
       		-moz-user-select: none;
        	-ms-user-select: none;
            user-select: none;
		}

		.textInput{
			position:absolute;
			text-align: left;
			left:2vw;
			top:17vh;
			width:50vw;
			font-family: Aaargh;
			font-size: 4vh;
			transition: 1s;
			background-color: rgba(0,0,0,0);
			border:0px;
			outline:none;
			z-index: 3;
		}

		.textInputLeft{
			position:absolute;
			left:51vw;
			font-size:3vh;
			transition: 1s;
			font-family: Aaargh;
			text-align: center;
			color:#7aabff;
			top:22vh;
			z-index:4;
			-webkit-touch-callout: none;
    		-webkit-user-select: none;
     		-khtml-user-select: none;
       		-moz-user-select: none;
        	-ms-user-select: none;
            user-select: none;
		}

		.textInputDeco{
			position:absolute;
			left:1vw;
			top:23vh;
			height:0.3vh;
			width:52vw;
			border-top:2px dotted #661fe0;
			transition: 1s;
		}

		.textInputInstructions{
			position:absolute;
			left:2vw;
			font-size:2vh;
			transition: 1s;
			font-family: Aaargh;
			text-align: left;
			color:#7aabff;
			top:23vh;
			z-index:5;
			-webkit-touch-callout: none;
    		-webkit-user-select: none;
     		-khtml-user-select: none;
       		-moz-user-select: none;
        	-ms-user-select: none;
            user-select: none;
		}

	</style>

	<script type="text/javascript">
		var current = 1;

		function updateLeft(num){
			if(num === 1){
				document.getElementById("textInputLeft1").innerHTML = 41-document.getElementById("textInput1").value.length;
			} else {
				if(num === 2){
					document.getElementById("textInputLeft2").innerHTML = 41-document.getElementById("textInput2").value.length;
				}
			}
		}

		function updateInstructions(num, val){
			if(val===true){
				document.getElementById("textInputInstructions"+num).style = "color:#7aabff;";
			} else {
				document.getElementById("textInputInstructions"+num).style = "color:rgba(0,0,0,0);";
			}
		}

		function eraseInput(num){
			document.getElementById("textInput"+num).value = "";
			hidePlaceholderText(num);
			updateLeft(num);
		}

		function hidePlaceholderText(num){
			if(num === 1){
				if(document.getElementById("textInput1").value != ""){
					document.getElementById("textInputPlaceholder1").setAttribute("hidden","");
					updateInstructions(1, true);
				} else {
					document.getElementById("textInputPlaceholder1").removeAttribute("hidden");
					updateInstructions(1, false);
				}
			}
			if(num === 2){
				if(document.getElementById("textInput2").value != ""){
					document.getElementById("textInputPlaceholder2").setAttribute("hidden","");
					updateInstructions(2, true);
				} else {
					document.getElementById("textInputPlaceholder2").removeAttribute("hidden");
					updateInstructions(2, false);
				}
			}
		}

		function moveText(){
			if(current === 1){
				updateInstructions(1, false);
				eraseInput(2);
				loadQuestion('Surveys/' + GetURLParameter('survey') + '.js');
				document.getElementById("box2").classList.add("centerBoxNoAnim");
				document.getElementById("box2").style="top:50vh;";
				document.getElementById("box2").offsetHeight;
				document.getElementById("box2").classList.remove("centerBoxNoAnim");
				document.getElementById("box1").style="top:10vh;";
				document.getElementById("text1").style="color:rgba(0,0,0,0);";
				document.getElementById("textInput1").setAttribute("disabled", "");
				document.getElementById("textInput1").style="color:rgba(0,0,0,0);";
				document.getElementById("textInputPlaceholder1").style="color:rgba(0,0,0,0);";
				document.getElementById("textInputLeft1").style="color:rgba(0,0,0,0);";
				document.getElementById("textInputDeco1").style="border-top-color:rgba(0,0,0,0);";
				document.getElementById("textInput2").removeAttribute("disabled", "");
				document.getElementById("box2").style="top:30vh;";
				document.getElementById("text2").style="color:rgba(0,0,0,1);";
				document.getElementById("textInput2").style="color:rgba(0,0,0,1);";
				document.getElementById("textInputPlaceholder2").style="color:#a8a8a8";
				document.getElementById("textInputDeco2").style="border-top-color:#661fe0;";
				document.getElementById("textInputLeft2").style="color:#7aabff";
				document.getElementById("textInput2").focus();
				current = 2;
			} else {
				if(current === 2){
					updateInstructions(2, false);
					eraseInput(1);
					loadQuestion('Surveys/' + GetURLParameter('survey') + '.js');
					document.getElementById("box1").classList.add("centerBoxNoAnim");
					document.getElementById("box1").style="top:50vh;";
					document.getElementById("box1").offsetHeight;
					document.getElementById("box1").classList.remove("centerBoxNoAnim");
					document.getElementById("box2").style="top:10vh;";
					document.getElementById("textInput2").setAttribute("disabled", "");
					document.getElementById("textInputPlaceholder1").style="transition:1s;";
					document.getElementById("textInputPlaceholder2").style="transition:1s;";
					document.getElementById("text2").style="color:rgba(0,0,0,0);";
					document.getElementById("textInput2").style="color:rgba(0,0,0,0);";
					document.getElementById("textInputLeft2").style="color:rgba(0,0,0,0);";
					document.getElementById("textInputPlaceholder2").style="color:rgba(0,0,0,0);";
					document.getElementById("textInputDeco2").style="border-top-color:rgba(0,0,0,0);";
					document.getElementById("box1").style="top:30vh;";
					document.getElementById("text1").style="color:rgba(0,0,0,1);";
					document.getElementById("textInput1").removeAttribute("disabled", "");
					document.getElementById("textInput1").style="color:rgba(0,0,0,1);";
					document.getElementById("textInputPlaceholder1").style="color:#a8a8a8";
					document.getElementById("textInputDeco1").style="border-top-color:#661fe0;";
					document.getElementById("textInputLeft1").style="color:#7aabff";
					document.getElementById("textInput1").focus();
					current = 1;
				}
			}
		}

		var currentQuestion = 0;

		function loadQuestion(file){
			currentQuestion += 1;
			if(currentQuestion % 2 == 0){
				fetch(file).then(
					function(response) {
						return response.text();
					})
					.then(function(text){
						document.getElementById("text1").innerHTML = text.match(/[^\r\n]+/g)[currentQuestion];
					})
					.catch(function(error){
						console.log("Request Failed.", error);
					});
			} else {
				fetch(file).then(
					function(response) {
						return response.text();
					})
					.then(function(text){
						document.getElementById("text2").innerHTML = text.match(/[^\r\n]+/g)[currentQuestion];
					})
					.catch(function(error){
						console.log("Request Failed.", error);
					});
			}
		}

		function GetURLParameter(sParam){
				var sPageURL = window.location.search.substring(1);
				var sURLVariables = sPageURL.split('&');
				for (var i = 0; i < sURLVariables.length; i++){
						var sParameterName = sURLVariables[i].split('=');
						if (sParameterName[0] == sParam){
								return sParameterName[1];
						}
				}
		}

		function checkURL(){
			if(GetURLParameter('survey') == "undefined" || GetURLParameter('survey') == '' || GetURLParameter('survey') == null){
				window.location.href = "/home";
			}
			fetch('Surveys/' + GetURLParameter('survey') + '.js').then(
				function(response) {
				})
				.then(function(text){
				})
				.catch(function(error){
					window.location.href = "/home";
				});
		}

		checkURL();
		setTimeout(() => {loadQuestion('Surveys/' + GetURLParameter('survey') + '.js');}, 100);
	</script>
</head>
<body onload="setTimeout(() => {  loadQuestion('Surveys/' + GetURLParameter('survey') + '.js'); console.log('Loaded'); }, 1000);">
	<div class="centerBox" id="box1">
		<p class="centerText" id="text1">First Question</p>
		<form onsubmit="moveText(); return false;">
			<input type="text" class="textInput" id="textInput1" onInput="hidePlaceholderText(1);updateLeft(1);" maxlength="41" onsubmit="moveText();" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
		</form>
		<p class="textInputPlaceholder" id="textInputPlaceholder1">Input answer here.</p>
		<div class="textInputDeco" id="textInputDeco1"></div>
		<p class="textInputLeft" id="textInputLeft1">41</p>
		<p class="textInputInstructions" id="textInputInstructions1" style="color:rgba(0,0,0,0);">Press Enter</p>
	</div>
	<div class="centerBox" id="box2" style="top:20vh;">
		<p class="centerText" id="text2" style="color:rgba(0,0,0,0);">Second Question.</p>
		<form onsubmit="moveText(); return false;">
			<input type="text" class="textInput" id="textInput2" onInput="hidePlaceholderText(2);updateLeft(2);" style="color:rgba(0,0,0,0);" disabled="" maxlength="41" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">
		</form>
		<p class="textInputPlaceholder" id="textInputPlaceholder2" style="color:rgba(0,0,0,0);">Input answer here.</p>
		<div class="textInputDeco" id="textInputDeco2" style="border-top-color:rgba(0,0,0,0);"></div>
		<p class="textInputLeft" id="textInputLeft2" style="color:rgba(0,0,0,0);">41</p>
		<p class="textInputInstructions" id="textInputInstructions2" style="color:rgba(0,0,0,0);">Press Enter</p>
	</div>

</body>
</html>
